<div id="star">
  <div id="star-name"></div>
  <div id="star-id"><%= @id %></div>
  <div id="star-security">Security: </div>
</div>

<div id="star-moons">
  <b>Moons</b>
  <% @moons.each do |moon| %>
    <div><%= link_to "#{moon.name}", moon %></div>
  <% end %>
</div>
