<div id="<%= @id %>" class="star">
  <div class="star-name">(ID:<%= @id %>)</div>
  <div class="star-security">Security: </div>
  <div class="star-constellation">Constellation: </div>
  <div class="star-region">Region: </div>
</div>

<div id="star-moons">
  <b>Moons</b>
  <div id="star-moon-count">Tracked Moons: <%= @known_moon_count %></div>
  <% @moons.each do |moon| %>
    <div class="moon"><%= link_to "#{moon.name}", moon %></div>
  <% end %>
</div>
