<p>
  <b>Type:</b>
  <%= @mineral.type_id %>
</p>

<p>
  <b>Name:</b>
  <%= @mineral.name %>
</p>

<p>
  <b>Moons:</b>
  <ul>
  <% @mineral.moons.each do |moon| %>
    <li><%= moon.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Back', minerals_path %>
